section.hero {
  background-color: var(--background);
  padding-top: 12tem;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text > * {
  margin-bottom: 1rem;
  color: var(--foreground);
  width: 70%;
}

.btn-p {
  background: var(--foreground);
  color: var(--background);
}
